/**************************
    UTILITY
**************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-col: #0084fd;
    --main-col-light: #b5ddff;
    --sec-col: #9792e4;
    --black: #000;
    --white: #FFF;
    --yellow: #fec15e;
}

.flex {
    display: flex;
}

.justify {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.txt-center {
    text-align: center;
}

/**************************
    COMMON
**************************/

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

.container1 {
    padding: 0 2rem;
    max-width: 1400px;
    margin: auto;
}

.container2 {
    padding: 0 2rem;
    max-width: 1200px;
    margin: auto;
}

.my-top110p {
    margin-top: 110px;
}

.my-top1dot5r {
    margin-top: 1.5rem;
}

.my-top3r {
    margin-top: 3rem;
}

.my-bottom1dot5r {
    margin-bottom: 1.5rem;
}

.my-bottom3r {
    margin-bottom: 3rem;
}

.card1 {
    border-radius: 20px;
}

.card2 {
    border-radius: 40px;
}

/**************************
    BODY
**************************/

/* HEADER */

header {
    background-color: var(--main-col);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav .col {
    line-height: 70px;
    width: 50%;
}

.menu {
    display: none;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    color: var(--black);
}

/* SECTION 1 */

.section1 .card1 {
    background-color: var(--main-col-light);
}

/* SECTION 2 */

.section2 {
    background-color: var(--sec-col);
}

.section2 .cards {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section2 .card2:last-child {
    background-color: var(--white);
}

/* SECTION 3 */

.section3 .card2 {
    background-color: var(--sec-col);
}

/* SECTION 4 */

.section4 {
    background-color: var(--sec-col);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section4 .card1 {
    background-color: var(--white);
}

/* SECTION 5 */

.section5 a {
    display: block;
}









/**************************
    DEBUG
**************************/

.debug header {
    height: 70px;
}

.debug .col {
    background-color: var(--main-col-light);
}



/**************************
    MEDIA QUERY
**************************/

@media screen and (min-width: 576px) {
    .section1 .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    .section1 .card1 {
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    .section1 .card1:first-child {
        width: calc(((100% / 3) * 2) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        display: flex;
    }
    .section3 .card2 {
        text-align: left;
        display: flex;
    }
    .section4 .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    .section4 .card1 {
        width: calc((100% / 2) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    .section5 {
        display: flex;
        justify-content: space-between;
    }
    .section5 .item:first-child {
        width: 69%;
    }
    .section5 .item:last-child {
        width: 29%;
    }
}

@media screen and (min-width: 768px) {
    .mcdonalds {
        display: none;
    }
    .menu {
        display: block;
    }
    .section2 .cards {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .section2 .item,
    .section2 .card2 {
        width: 48%;
    }
    .section2 .item {
        margin-bottom: 0;
    }
    .section4 .card1 {
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    .section5 .item:first-child {
        width: 79%;
    }
    .section5 .item:last-child {
        width: 19%;
    }
}