/**************************
    UTILITY
**************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-col: #0084fd;
    --main-col-light: #b5ddff;
    --sec-col: #9792e4;
    --black: #000;
    --white: #FFF;
    --yellow: #fec15e;
    --gray: #555;
}

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

.justify {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.txt-center {
    text-align: center;
}

/**************************
    COMMON
**************************/

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

.container1 {
    padding: 0 2rem;
    max-width: 1400px;
    margin: auto;
}

.container2 {
    padding: 0 2rem;
    max-width: 1000px;
    margin: auto;
}

.container3 {
    padding: 0 2rem;
    max-width: 600px;
    margin: auto;
}

.container4 {
    padding: 0 2rem;
    max-width: 400px;
    margin: auto;
}

.my-top1dot5r {
    margin-top: 1.5rem;
}

.my-top3r {
    margin-top: 3rem;
}

.my-bottom1dot5r {
    margin-bottom: 1.5rem;
}

.my-bottom3r {
    margin-bottom: 3rem;
}

.py-top1dot5r {
    padding-top: 1.5rem;
}

.py-bottom1dot5r {
    padding-bottom: 1.5rem;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-light {
    font-weight: lighter;
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

.text-blue {
    color: var(--main-col);
}

.text-gray {
    color: var(--gray);
}

.text-purple {
    color: var(--sec-col);
}

.text-yellow {
    color: var(--yellow);
}

.line-height70 {
    line-height: 70px;
}

.line-height1dot5r {
    line-height: 1.5rem;
}

.fontsize1dot5r {
    font-size: 1.5rem;
}

.fontsize2dot5r {
    font-size: 2.5rem;
}

.fontsize3dot5r {
    font-size: 3.5rem;
}

.fontsize5r {
    font-size: 5rem;
}

.btn-topbar1 {
    line-height: 70px;
    padding: 0 10px;
}

.btn-topbar2 {
    background-color: var(--white);
    padding: 10px 15px;
    border-radius: 20px;
    margin-left: 10px;
}

.btn-blue {
    background-color: var(--main-col);
    padding: 10px 40px;
    border-radius: 20px;
}

.btn-purple {
    background-color: var(--sec-col);
    line-height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.btn-purple-big {
    background-color: var(--sec-col);
    padding: 10px 40px;
    border-radius: 20px;
}

.btn-purple-about {
    background-color: var(--sec-col);
    padding: 10px 15px;
    border-radius: 20px;
}

.btn-white {
    background-color: var(--white);
    padding: 20px 60px;
    border-radius: 40px;
}

.card1 {
    border-radius: 20px;
}

.card2 {
    border-radius: 40px;
}

/**************************
    BODY
**************************/

/* HEADER */

header {
    background-color: var(--main-col);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav .col:first-child {
    width: 20%;
}

nav .col:last-child {
    width: 75%;
}

header img {
    display: block;
    height: 40px;
}

.logo {
    height: 70px;
}

.col a {
    display: inline-block;
}

.mcdonalds {
    text-align: right;
}

.menu {
    display: none;
}

.menu ul {
    list-style: none;
    justify-content: flex-end;
}

/* SECTION 1 */

.section1 .cards {
    display: flex;
    flex-wrap: wrap;
}

.section1 .card1 {
    background-color: var(--main-col-light);
    padding: 0 1.5rem;
}

.section1 .card1:first-child a {
    display: inline-block;
}

.phone-container {
    display: flex;
    justify-content: center;
}

#phone {
    display: block;
    width: 70%;
}

/* SECTION 2 */

.section2 {
    background-color: var(--sec-col);
}

.section2 .cards {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section2 img {
    width: 100%;
}

.section2 .card2:last-child {
    background-color: var(--white);
    padding: 1.5rem;
}

.section2 .card2 a {
    display: inline-block;
}

/* SECTION 3 */

.section3 .card2 {
    background-color: var(--sec-col);
}

.section3 img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.section3 .card2 {
    padding: 1.5rem;
}

/* SECTION 4 */

.section4 {
    background-color: var(--sec-col);
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.section4 .cards {
    display: flex;
    flex-wrap: wrap;
}

.section4 .card1 {
    background-color: var(--white);
    padding: 1.5rem;
}

.section4 .card1 a {
    display: inline-block;
}

/* SECTION 5 */

.section5 img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.img-quote {
    position: relative;
    width: 200px;
}

.img-quotespecial {
    position: absolute;
    top: 0;
    right: 0;
}

.section5 a {
    display: inline-block;
}

/* SECTION 6 */

.section6 {
    background-color: var(--sec-col);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#privacylink {
    display: inline;
    color: var(--white);
}

.section6 a {
    display: inline-block;
}

/* FOOTER */

footer {
    background-color: var(--gray);
    padding-top: 3rem;
    padding-bottom: 3Rem;
}






/**************************
    DEBUG BODY CLASS
**************************/

.debug header {
    height: 70px;
}

.debug .col {
    background-color: var(--main-col-light);
}



/**************************
    MEDIA QUERY
**************************/

@media screen and (min-width: 576px) {
    .section1 .cards {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    .section1 .card1 {
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    .section1 .card1:first-child {
        width: calc(((100% / 3) * 2) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        display: flex;
        flex-wrap: wrap;
    }
    .phone-container {
        justify-content: flex-start;
    }
    #phone {
        width: 80%;
    }
    .section3 .card2 {
        text-align: left;
        display: flex;
        align-items: center;
    }
    .section3 .profile-container {
        margin-left: 1.5rem;
    }
    .section3 .card2 p {
        margin-top: 0;
    }
    .section4 .cards {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    .section4 .card1 {
        width: calc((100% / 2) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    .section5::after {
        content: '';
        display: table;
        clear: both;
    }
    .section5 .item:first-child {
        float: left;
        width: calc(100% - 200px);
        padding-right: 1.5rem;
    }
    .section5 .item:last-child {
        float: right;
        width: 200px;
    }
}

@media screen and (min-width: 768px) {
    .mcdonalds {
        display: none;
    }
    .menu {
        display: block;
    }
    .section1 .card1:first-child .btn-apple {
        padding-bottom: 1.5rem;
    }
    .section1 .card1:first-child {
        justify-content: space-between;
    }
    .section1 .card1:first-child > div {
        width: 48%;
    }
    .phone-container {
        justify-content: center;
        align-items: flex-end;
    }
    #phone {
        max-height: calc(312px - 1.5rem);
        object-fit: contain;
    }
    .section2 .cards {
        display: flex;
        justify-content: space-between;
    }
    .section2 .item,
    .section2 .card2 {
        width: 48%;
    }
    .section2 .card2 {
        margin-top: 6rem;
    }
    .section2 .item {
        margin-bottom: 0;
    }
    .section4 .card1 {
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
}